name: Tag New Version

on:
  push:
    branches:
      - main

jobs:
  call-bump-version-workflow:
    # Docs: https://github.com/ASFHyP3/actions
    uses: ASFHyP3/actions/.github/workflows/reusable-bump-version.yml@v0.13.1
    with:
      user: {{ cookiecutter.github_username }}
      email: {{ cookiecutter.github_email }}
    secrets:
      USER_TOKEN: {{'${{ secrets.GITHUB_PAK }}'}}
